.vscode/

# general Python
*.py[cod]
__pycache__/
.hypothesis
.pytest_cache

# Jupyter Notebook
.ipynb_checkpoints

*.pdf
*.djvu

# TPP source code from https://pragprog.com/titles/tpp20/source_code
source_code/