[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pep8 = "*"
rope = "*"

[packages]
faker = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
